body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-arial: Arial;
  --font-inter: Inter;
  --font-arimo: Arimo;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-45xl: 64px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #f5f5f5;
  --color-dimgray-100: #6f6f6f;
  --color-dimgray-200: #5b5b5b;
  --color-dimgray-300: #4f4f4f;
  --color-black: #000;

  /* Paddings */
  --padding-31xl: 50px;
  --padding-81xl: 100px;
}
